<div class="row">
  <div class="offset-10 col-md-2">
    <button mat-raised-button color="primary" (click)="addNewCourse()"  type="submit"><i class="fa fa-plus" aria-hidden="true"></i>
      Add</button>
  </div>
</div>


<div class="card-body">
  <div class="table-responsive">
    <table class="table">
      <thead class=" text-primary">
      <th>
        Number
      </th>
      <th>
        Date
      </th>
      <th>
        Course
      </th>
      <th>
      </th>
      </thead>
      <tbody *ngFor="let courseByWeek of courseByWeekArray ;  let $week = index">
      <tr>
        <td>
          {{courseByWeek.week}}
        </td>
        <td>
          <mat-form-field >
            <input matInput  [matDatepicker]="picker1" [(ngModel)]="courseByWeek.date" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <div class="row">
            <div class="col-md-8">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Enter a course" [(ngModel)]="courseByWeek.course" type="text">
              </mat-form-field>
            </div>
          </div>
        </td>
        <td>
          <button mat-fab color="primary" (click)="removeCourse($week)" aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
